<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ServerNo" value="1" />
    <add key="siteURL" value="http://localhost:1361/"></add>
    <add key="apiBaseURL" value="http://localhost:1361/Api/"></add>
    <add key="logPath" value="D:\\SyncControlForServer\\Logs\\CleanupService\\" />
    <add key="NetworkPath" value="\\192.168.0.21\Sachin_Shared\" />
    <add key="NetworkDrive" value="Z:\\" />
    <!-- Default Date interval-->
    <add key="DateInterval" value="0"></add>
    <!-- Thai Date interval-->
    <add key="MimzyCaptureOuputELIBRARY" value="D:\\MimzyCaptureOutput\\ELIBRARY\\" />
    <add key="MimzyCaptureOuputETP" value="D:\\MimzyCaptureOutput\\ETP\\" />
    <add key="MimzyCaptureOuputLOS" value="D:\\MimzyCaptureOutput\\LOS\\" />

    <add key="WebFiles" value="D:\\Projects\\Solutions\\2019\\Silverlake\\Silverlake.Web\\Content\\Files\\" />
    <add key="MfileFiles" value="D:\\SyncControlForServer\\Documents\\Archive\\" />
    <add key="Files" value="D:\\SyncControlForServer\\Files\\" />


    <add key="MimzyCaptureOuputFiles" value="D:\\MimzyCaptureOutput\\Files\\" />
    <add key="MimzyCaptureOuputELIBRARYLog" value="D:\\MimzyCaptureOutput\\ELIBRARY-Logs\\" />
    <add key="MimzyCaptureOuputETPLog" value="D:\\MimzyCaptureOutput\\ETP-Logs\\" />
    <add key="MimzyCaptureOuputLOSLog" value="D:\\MimzyCaptureOutput\\LOS-Logs\\" />

    <add key="LogBackUpELIBRARYLog" value="D:\\MimzyCaptureOutput\\LogBackUp\\ELIBRARY-Logs\\" />
    <add key="LogBackUpETPLog" value="D:\\MimzyCaptureOutput\\LogBackUp\\ETP-Logs\\" />
    <add key="LogBackUpLOSLog" value="D:\\MimzyCaptureOutput\\LogBackUp\\LOS-Logs\\" />
    <add key="LogBackUpFaliedFiles" value="D:\\MimzyCaptureOutput\\LogBackUp\\Files\\" />

    <add key="CleanUpTime" value="12" />
    <add key="TimeType" value="AM" />
    <add key="MonthofDayDeleteFiles" value="1" />


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>