<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
         <add name="DefaultConnection" connectionString="data source=PETRALAP-PC\SQLEXPRESS01;initial catalog=ghb_db_live;persist security info=True;Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
    
<!--<add name="DefaultConnection" connectionString="Persist Security Info=False;Server=172.29.68.14;Uid=mimzydev;Password=Mimzy#dev@2262*;Database=ghb_db;MultipleActiveResultSets=true;"/>-->
   <add name="DefaultConnection1" connectionString="Server=localhost;Database=silverlake_db;Uid=root;Pwd=root;SslMode=none;AllowPublicKeyRetrieval=true;pooling=false;connection reset=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerNo" value="1" />
    <add key="MimzyCaptureOuput" value="D:\\MimzyCaptureOutput\\" />
    <add key="MimzyCaptureOuputELIBRARY" value="D:\\MimzyCaptureOutput\\ELIBRARY\\" />
    <add key="MimzyCaptureOuputETP" value="D:\\MimzyCaptureOutput\\ETP\\" />
    <add key="MimzyCaptureOuputLOS" value="D:\\MimzyCaptureOutput\\LOS\\" />
    <add key="Documents" value="D:\\SyncControlForServer\\Documents\\" />
    <add key="DocumentsArchive" value="D:\\SyncControlForServer\\Documents\\Archive\\" />
    <add key="DocumentsException" value="D:\\SyncControlForServer\\Documents\\Exception\\" />
    <add key="Files" value="D:\\SyncControlForServer\\Files\\" />
    <add key="FilesArchive" value="D:\\SyncControlForServer\\Files\\Archive\\" />
    <add key="logPath" value="D:\\SyncControlForServer\\Logs\\SyncServer\\" />

    <add key="NetworkPath" value="\\\\192.168.0.3\\Shared\\MimzyCaptureOutput\\SyncControlFiles\\" />

    <add key="MimzyCaptureOuputELIBRARYEx" value="D:\\MimzyCaptureOuput\\ELIBRARY\\" />
    <add key="MimzyCaptureOuputETPEx" value="D:\\MimzyCaptureOuput\\ETP\\" />
    <add key="MimzyCaptureOuputLOSEx" value="D:\\MimzyCaptureOuput\\LOS\\" />

    <add key="EnableValidation" value="1" />

    <add key="ValidationApiBaseUrl" value="http://172.29.66.13/" />
    <add key="AAValidationApiUrl" value="eTPu2/customize/E-Library/default.aspx?check=AA&amp;CADAAN=##NO##&amp;requesttype=json" />
    <add key="ACValidationApiUrl" value="eTPu2/customize/E-Library/default.aspx?check=AC&amp;CADAAN=##AA##&amp;CADAID=##NO##&amp;requesttype=json" />
    <add key="PJValidationApiUrl" value="eTPu2/customize/E-Library/default.aspx?check=PJ&amp;CADPJC=##NO##&amp;requesttype=json" />
    <add key="WFValidationApiUrl" value="eTPu2/customize/E-Library/default.aspx?check=WF&amp;CADWFC=##NO##&amp;requesttype=json" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>