<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"  connectionString="data source=PETRALAP-PC\SQLEXPRESS01;initial catalog=ghb_db_live;persist security info=True;  Integrated Security=SSPI;"  providerName="System.Data.SqlClient" />
    <add name="DefaultConnection0" connectionString="Server=localhost;Database=silverlake_db;Uid=root;Pwd=root;SslMode=none;AllowPublicKeyRetrieval=true;pooling=false;connection reset=false;" providerName="MySql.Data.MySqlClient" />
    <add name="DefaultConnection1" connectionString="Server=192.168.0.13;Database=silverlake_db;Uid=root;Pwd=root;SslMode=none;AllowPublicKeyRetrieval=true;pooling=false;connection reset=false;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ServerNo" value="1" />
    <add key="MimzyCaptureOuput" value="D:\\MimzyCaptureOuput\\" />
    <add key="MimzyCaptureOuputELIBRARY" value="D:\\MimzyCaptureOutput\\ELIBRARY\\" />
    <add key="MimzyCaptureOuputETP" value="D:\\MimzyCaptureOutput\\ETP\\" />
    <add key="MimzyCaptureOuputLOS" value="D:\\MimzyCaptureOutput\\LOS\\" />
    <add key="Documents" value="D:\\SyncControlForServer\\Documents\\" />
    <add key="DocumentsArchive" value="D:\\SyncControlForServer\\Documents\\Archive\\" />
    <add key="DocumentsException" value="D:\\SyncControlForServer\\Documents\\Exception\\" />
    <add key="Files" value="D:\\SyncControlForServer\\Files\\" />
    <add key="FilesArchive" value="D:\\SyncControlForServer\\Files\\Archive\\" />
    <add key="logPath" value="D:\\SyncControlForServer\\Logs\\SyncServer\\" />
    <add key="MFiles" value="D:\SyncControlForBranch\" />
    
    
        <add key="MimzyCaptureOuputELIBRARYEx" value="D:\\MimzyCaptureOutput\\ELIBRARY-Logs\\" />
    <add key="MimzyCaptureOuputETPEx" value="D:\\MimzyCaptureOutput\\ETP-Logs\\" />
    <add key="MimzyCaptureOuputLOSEx" value="D:\\MimzyCaptureOutput\\LOS-Logs\\" />

    <add key="NetworkPath" value="\\\\192.168.0.3\\Shared\\MimzyCaptureOutput\\SyncControlFiles\\" />


    <add key="EnableValidation" value="0" />

    <add key="ValidationApiBaseUrl" value="http://172.29.34.13/" />
    <add key="AAValidationApiUrl" value="CBSeTPD1/customize/E-Library/default.aspx?check=AA&amp;CADAAN=##NO##&amp;requesttype=json" />
    <add key="ACValidationApiUrl" value="CBSeTPD1/customize/E-Library/default.aspx?check=AC&amp;CADAID=##NO##&amp;requesttype=json" />
    <add key="PJValidationApiUrl" value="CBSeTPD1/customize/E-Library/default.aspx?check=PJ&amp;CADPJC=##NO##&amp;requesttype=json" />
    <add key="WFValidationApiUrl" value="CBSeTPD1/customize/E-Library/default.aspx?check=WF&amp;CADWFC=##NO##&amp;requesttype=json" />

  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.1.0" newVersion="3.6.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>